.horizontalMenuBar{
    background-color: #d3d3d3;
    min-height: 40px;
    width:100%;
    text-align: center;
}

.flex-container{
    border: 1px #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px;
    border-bottom-color: white ;
}

.toptext2{
    padding-top: 3px;
    margin: 0px;
    font-family: Replica 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    padding: 0px 15px;
    font-weight: bold;
}