<div class="row">
  <div class="col-md-12">
    <div class="card filter">
      <span class="font-weight-bold">Filters</span>
      <div class="separator">
        <div class="text-center mt-2">
          <span>Launch Year</span>
          <hr />
        </div>
        <app-filter-button [filterData]="yearFilter" [filterType]="'launch_year'"
          (selectedFilter)="selectedFilter($event, 1)" [selectedFilterValue]="filterData.filterYear">
        </app-filter-button>
      </div>
      <div class="separator mt-2">
        <div class="text-center">
          <span>Success Launch</span>
          <hr />
        </div>
        <app-filter-button [filterData]="lauchFilter" [filterType]="'launch_success'"
          (selectedFilter)="selectedFilter($event, 2)" [selectedFilterValue]="filterData.filterLaunch">
        </app-filter-button>
      </div>
      <div class="separator mt-2">
        <div class="text-center">
          <span>Success Landing</span>
          <hr />
        </div>
        <app-filter-button [filterData]="landFilter" [filterType]="'land_success'"
          (selectedFilter)="selectedFilter($event, 3)" [selectedFilterValue]="filterData.filterLand">
        </app-filter-button>
      </div>
    </div>
  </div>
</div>